*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: 'popins', sans-serif;
}
body{
    background: #565656;
}
header{
    position: absolute;
    top:0;
    left:0;
    width:100%;
    padding: 30px 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header .logo{
    color: #fff;
    font-weight: 700;
    text-decoration: none;
    font-size: 3.3em;
}
header ul{
    display: flex;
    justify-content: center;
    align-items: center;
}
header ul li{
    list-style: none;
    margin-left: 20px;
}
header ul li a{
    text-decoration: none;
    padding: 6px 15px;
    color: #fff;
    border-radius: 20px;
}
header ul li a:hover,
header ul li a.active{
    background: #fff;
    color: #2b1055;
}
.skill h10{
    text-align: center;
    padding-left: 380px;
    margin-bottom: 10px;
    font-size: 56px;
    font-family: one sans;
}
.skill{
    width: 1000px;
    margin: 110px auto;
    color:#fff;
    padding: 23px;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25),0 10px 10px rgba(0,0,0,0.22);
}
.skill li{
    margin: 20px;
    padding: 10px;
}
.bar{
    background: #353b48;
    display: block;
    height: 20px;
    border: 1px solid rgba(0,0,0,0.3);
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 14px 28px rgba(0,0,0,0.12), 0 10px 10px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}
.bar:hover{
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}
.bar span{
    height: 20px;
    float: left;
    background: linear-gradient(135deg, rgba(236,0,140,1)0%,rgba(252,103,103,1)100%);
}

.htmlandcss{
    animation: htmlandcss 2s;
    width: 40%;
}
.python{
    animation: python 2s;
    width: 90%;
}
.c{
    animation: c 2s;
    width: 15%;
}
.mysql{
    animation: mysql 2s;
    width: 70%;
}
.dsmlai{
    animation: dsmlai 2s;
    width: 10%;
}


@keyframes htmlandcss{
    from{
        width:0;
    }
    to{
        width: 40%;
    }
}
@keyframes python{
    from{
        width:0;
    }
    to{
        width: 90%;
    }
}
@keyframes c{
    from{
        width:0;
    }
    to{
        width: 15%;
    }
}
@keyframes mysql{
    from{
        width:0;
    }
    to{
        width: 70%;
    }
}
@keyframes dsmlai{
    from{
        width:0;
    }
    to{
        width: 10%;
    }
}